.moldova_svg{
  margin: 80px auto 20px auto;
}

.MD_AN{//anenii noi
  fill: #80378B;
}
#MD_BA{//balti
  fill: #FAAF31;
}
#MD_BD{//tichina
  fill: #009732;
}
#MD_BR{//Briceni
  fill: #E51270;
}
#MD_BS{//basarabeasca
  fill: #E3001B;
}
#MD_CA{//cahul
  fill: #009430;
}
#MD_CL{//calarasi
  fill: #009430;
}
#MD_CM{//cimislia
  fill: #009430;
}
#MD_CR{//criuleni
  fill: #E5001A;
}
#MD_CS{//causeni
  fill: #E95D0F;
}
#MD_CT{//cantemir
  fill: #E95D0F;
}
#MD_CU{//chisinau
  fill: #0B72B4;
}
#MD_DO{//donduseni
  fill: #0B72B6;
}
#MD_DR{//drochia
  fill: #E71172;
}
#MD_DU{//dubasari
  fill: #009430;
}
#MD_ED{//edinet
  fill: #F7B334;
}
#MD_FA{//falesti
  fill: #E95D0F;
}
#MD_FL{//floresti
  fill: #009430;
}
#MD_GA{//gagauzia
  fill: #00368B;
}
#MD_GL{//glodeni
  fill: #E3001D;
}
#MD_HI{//hincesti
  fill: #80378B;
}
#MD_IA{//ialoveni
  fill: #E5136E;
}
#MD_LE{//leova
  fill: #F7B334;
}
#MD_NI{//nisporeni
  fill: #0B72B6;
}
#MD_OC{//Ocnita
  fill: #E3001B;
}
#MD_OR{//orhei
  fill: #E51270;
}
#MD_RE{//rezina
  fill: #F7B334;
}
#MD_RI{//riscani
  fill: #009430;
}
#MD_SD{//soldanesti
  fill: #E3001B;
}
#MD_SI{//singerei
  fill: #0D71B6;
}
#MD_SN{//transnistria
  fill: #00368B;
}
#MD_SO{//soroca
  fill: #80378B;
}
#MD_ST{//straseni
  fill: #E95D0F;
}
#MD_SV{//stefan voda
  fill: #0C73B7;
}
#MD_TA{//taraclia
  fill: #E61373;
}
#MD_TE{//telenesti
  fill: #80378B;
}
#MD_UN{//ungheni
  fill: #F7B334;
}






























.moldova_svg{
  margin: 80px auto 20px auto;
}
.svg{
  gap: 20px;
}
.MD_AN{//anenii noi
  fill: #80378B;
}
.MD_BA{//balti
  fill: #FAAF31;
}
.MD_BD{//tichina
  fill: #009732;
}
.MD_BR{//Briceni
  fill: #E51270;
}
.MD_BS{//basarabeasca
  fill: #E3001B;
}
.MD_CA{//cahul
  fill: #009430;
}
.MD_CL{//calarasi
  fill: #009430;
}
.MD_CM{//cimislia
  fill: #009430;
}
.MD_CR{//criuleni
  fill: #E5001A;
}
.MD_CS{//causeni
  fill: #E95D0F;
}
.MD_CT{//cantemir
  fill: #E95D0F;
}
.MD_CU{//chisinau
  fill: #0B72B4;
}
.MD_DO{//donduseni
  fill: #0B72B6;
}
.MD_DR{//drochia
  fill: #E71172;
}
.MD_DU{//dubasari
  fill: #009430;
}
.MD_ED{//edinet
  fill: #F7B334;
}
.MD_FA{//falesti
  fill: #E95D0F;
}
.MD_FL{//floresti
  fill: #009430;
}
.MD_GA{//gagauzia
  fill: #00368B;
}
.MD_GL{//glodeni
  fill: #E3001D;
}
.MD_HI{//hincesti
  fill: #80378B;
}
.MD_IA{//ialoveni
  fill: #E5136E;
}
.MD_LE{//leova
  fill: #F7B334;
}
.MD_NI{//nisporeni
  fill: #0B72B6;
}
.MD_OC{//Ocnita
  fill: #E3001B;
}
.MD_OR{//orhei
  fill: #E51270;
}
.MD_RE{//rezina
  fill: #F7B334;
}
.MD_RI{//riscani
  fill: #009430;
}
.MD_SD{//soldanesti
  fill: #E3001B;
}
.MD_SI{//singerei
  fill: #0D71B6;
}
.MD_SN{//transnistria
  fill: #00368B;
}
.MD_SO{//soroca
  fill: #80378B;
}
.MD_ST{//straseni
  fill: #E95D0F;
}
.MD_SV{//stefan voda
  fill: #0C73B7;
}
.MD_TA{//taraclia
  fill: #E61373;
}
.MD_TE{//telenesti
  fill: #80378B;
}
.MD_UN{//ungheni
  fill: #F7B334;
}
